body{
  background-color: #74828F;
  width: 80%;
  margin: 0 auto;
}

p
{
  background-color: 	#525564;
  color: white;
  padding: 10px;
  line-height: 30px;
  text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}



.mensaje{
	text-align: right;

h4
{
  background-color: #525564;
  color: white;
  padding: 10px;
  text-emphasis-style: sesame;
  text-align: right;
}

h1{
    font-size: 60px;

}

h2{
    font-size: 30px;
    color: white;
}
h3
{
  font-size: 40px;
}
