body{

  background-image: url(fondo.png);
}

h1{
    color: #FEF6EB;
    font-size: 60px;

}

h2{
    font-size: 30px;
    color: white;
}
h3
{
  font-size: 20px;
}

link
{
  color: red;
}
a:active{
  color: red;
}

a:visited{
  color: yellow;
