body{
  background-color: #74828F;
  width: 80%;
  margin: 0 auto;
}

p
{
  background-color: 	#525564;
  color: white;
  padding: 10px;
  line-height: 30px;
  text-align: justify;

}

h1{
    font-size: 60px;

}

h2{
    font-size: 30px;
    color: white;
}
h3
{
  font-size: 40px;
}
